body {
	position: relative;
}

.form-container {
	margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto, Helvetica, sans-serif;
}

.grid {
	justify-content: space-between;
}

hr {
	position: fixed;
	height: 100vh;
	width: 0px;
	border-right: 5px solid #AAA;
	left: 50%;
	top: 0px;
}

#info-form {
	padding: 20px;
	padding-right: 50px;
}

#output {
	margin-top: 50px;
	width: 100%;
	overflow-y: scroll;
}

#results {
	height: initial;/*
	background-color: #fff;
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    color: rgba(0,0,0,0.9);
    padding: 0 10px;
    font-size: 16px;
*/}

.heading-two {
	margin-top: 40px;
	color: #de3527;
}

.heading-three {
	margin-bottom: 0px;
	margin-top: 10px;
}


.field-label {
	font-weight: bold;
	font-size: 14px;
}

.preview {
	padding: 20px;
	max-width: 45%;
	min-width: 700px;
	border-left: 2px solid rgba(0,0,0,0.2);
	background: #333333;
	overflow-x: auto;
	max-height: 1500px;
	overflow-y: auto;
}

.preview .grid {
	max-width: 100%;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.preview .preview-buttons {
	text-align: right;
	padding: 0;
}

.preview .preview-heading {
	padding: 0;
}

.preview h3 {
	text-align: left;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding-top: 15px;
}

@media screen and (max-width: 1600px) {
	hr {
		display: none;
	}
}



/* Custom Themes */

.toggle-field {
	font-size: 24px;
	font-weight: 100;

}

#custom-themes {
	margin-top: 20px;
}

/* Choose Templates*/

.preview .chooseTemplates {
	max-width: 100%;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.preview .chooseTemplates label {
	font-size: 20px;
	color: #FFF;
	display: inline-block;
	font-weight: 100;
	margin-top: 10px;
	float: left;
}

.preview .chooseTemplates .field {
	width: 100%;
}




.preview .chooseTemplates select {
	display: inline-block;
	float: left;
	margin-left: 20px;
	max-width: 300px;
	font-size: 20px;
}

.error {
	color: #de3527;
	border: 2px solid #de3527;
}