body {
	position: relative;
}

.form-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto, Helvetica, sans-serif;
    padding-top: 40px;
}
.main-column {
	height: 100vh;
    overflow-y: scroll;
    max-width: 800px;
}

.main-column {
	flex: 40%;
	box-shadow: 0px 0px 8px #999;
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 20px;
}

.preview {
	flex: 45%;
	min-width: 700px;
}

@media screen and (max-width: 1600px) {

}

.grid {
	justify-content: space-between;
}

.intro {
	margin: 0;
	color: #666;
}

#info-form {
	padding: 20px;
	padding-left: 0px;
	padding-top: 0px;
}

#output {
	margin-top: 50px;
	width: 100%;
	overflow-y: scroll;
}

#results {
	height: initial;
}

.heading-two {
	margin-top: 40px;
	color: #de3527;
}

.heading-three {
	margin-bottom: 0px;
	margin-top: 10px;
}


.field-label {
	font-weight: bold;
	font-size: 14px;
}

.preview {
	padding: 20px;
	min-width: 700px;
	background: #333333;
	overflow-x: auto;
	max-height: 1500px;
	height: 100vh;
	overflow-y: scroll;
}

.preview .grid {
	max-width: 100%;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.preview .preview-buttons {
	text-align: right;
	padding: 0;
}

.preview .preview-heading {
	padding: 0;
}

.preview h3 {
	text-align: left;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding-top: 15px;
}

@media screen and (max-width: 1600px) {
	hr {
		display: none;
	}
}



/* Custom Themes */

.toggle-field {
	font-size: 24px;
	font-weight: 100;

}

#custom-themes {
	margin-top: 20px;
}

/* Choose Templates*/

.preview .chooseTemplates {
	max-width: 100%;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.preview .chooseTemplates label {
	font-size: 20px;
	color: #FFF;
	display: inline-block;
	font-weight: 100;
	margin-top: 10px;
	float: left;
}

.preview .chooseTemplates .field {
	width: 100%;
}


h1, .h1 {
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    font-weight: 400;
}

.preview .chooseTemplates select {
	display: inline-block;
	float: left;
	margin-left: 20px;
	max-width: 300px;
	font-size: 20px;
}

.error {
	color: #de3527;
	border: 2px solid #de3527;
}